py311_emb/
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.swp
*.swo
*.log
*.tmp
*.temp
.env
.env.local
secrets.json
config.ini

# Streamlit session file
session_state*.pkl

# Streamlit - Hasła i konfiguracja prywatna
.streamlit/secrets.toml

# Google API - Klucze
client_secret.json

# Pliki sesji generowane przez aplikację
session_state_*.pkl

# Pliki danych (aby nie wysyłać danych magazynowych do repozytorium)
*.csv
*.xlsx

# Ignoruj pliki tekstowe (np. raporty), ale zachowaj requirements.txt
*.txt
!requirements.txt
